li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li:hover{
    background: lightgray;
    cursor: pointer;
}

.delete{
    color: red;
    text-decoration: none!important;
}

.delete:hover{
    color:blueviolet;
}

ul{
    padding: 0 20px 0 20px;
}